<?xml version="1.0"?>
<!--
  Copyright (C) 2019-2020 hnqiu. All rights reserved.
  Licensed under the BSD-3-Clause license. See LICENSE for details.
-->

<!--
  @brief: husky_controller.launch
  launch file to launch the Husky robot in a robocup world
  print out distance between robot and the closest object
  & visualize laser scan in RViz
-->

<launch>
  <arg name="world_name" default="worlds/robocup14_spl_field.world"/>
  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>

  <include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>

  <node name="teleop_key" pkg="teleop_twist_keyboard" 
    type="teleop_twist_keyboard.py" />

  <node name="husky_hl_ctrl" pkg="husky_highlevel_controller"
    type="husky_highlevel_controller" output="screen" >
    <rosparam  command="load"
      file="$(find husky_highlevel_controller)/config/default.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" />

</launch>
