<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="$(find husky_highlevel_controller)/worlds/singlePillar.world"/>
  <arg name="laser_enabled" default="true"/>
  <arg name="kinect_enabled" default="false"/>

  <include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>

  <node name="husky_hl_ctrl" pkg="husky_highlevel_controller"
    type="husky_highlevel_controller" output="screen" >
    <rosparam  command="load"
      file="$(find husky_highlevel_controller)/config/default.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" />

</launch>
